
body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}
.cld_bdy {
    padding: 0px 100px;
}
button {
    background-color: #3882F6;
    color: white;
    padding: 5px 10px;
    border: 2px solid #3882F6;
    border-radius: 10px;

}
.bet_head_foot {
    display: flex;
    flex-direction: column;
    flex: 0 0 850px;
    justify-content: space-between;
}
/*Header Content starts Here*/

.cld_bdy.header {
    display: flex;
   
    justify-content: space-between;
    background-color: #1f2937;
    flex-wrap: wrap;
}
.cld_bdy.header ul, li {
    display: flex;
    align-items: center;
    gap: 20px;
}
.cld_bdy.header img {
    height: 40px;
    align-self: center;
}
a {
    text-decoration: none;
    color: white;
}
/*Header Content Here Ends*/

/*mainheading starts here*/

.cld_bdy.main_prt {
    display: flex;
    background-color: #1f2937;
    padding-top: 50px;
    flex-wrap: wrap;
}


.cld_bdy.main_prt .web_head {
    display: flex;
    flex-direction: column;
    flex: 1 1 250px;
    gap: 20px;
    align-items: flex-start;
}

.cld_bdy.main_prt .web_head h2 {
    font-size: 36px;
    font-weight: bolder;
    color: #f9faf8;
    margin: 0px;
}
.cld_bdy.main_prt .web_head div {
    color: white;
    font-size: 18px;
}

.cld_bdy.main_prt .img_container{
    flex: 1 0 250px;
    display: flex;
    justify-content:center
    
}

.cld_bdy.main_prt img {
    height: 200px;
    width: 200px;
}
/*mainhead ends here*/

/* img_prod starts here*/
.head_n_cont {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.prod_heading {
    
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;

}
.cld_bdy.img_prods {
    display: flex;
    justify-content: center;
    gap: 10px;
    
    
}
.cld_bdy.img_prods img {
    height: 120px;
    padding: 8px;
    border: 2px solid #3882F6;
    border-radius: 10px;
}
.img_prod_container {
    width: 700px;
    display: flex;
    justify-content: center;
    gap: 5px;
    
}
.img_prod_container .img_txt {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1 0 150px;
}
.img_prod_container .img_txt p {
    text-align: center;
}
/*This is Testimonials*/
.testimonial {
    
}
.anothr_empty_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0px;
}

.testimonial_cont {
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.quote {
    font-size: 36px;
    font-style: italic;
}
.quoter {
    align-self: flex-end;
    font-size: 20px;
    font-weight: 900;
}
.cld_bdy.testimonial {
    background-color: #e5e7eb;
    align-items: stretch;
    margin: 20px 0px;
}
/*This is CTA*/
.cld_bdy.CTA{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.CTA_box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3882F6;
    padding: 20px;
    border-radius: 10px;
    border: 2px;
    gap: 50px;
}
.cta_txt {
    color: white;
}
/*This is Footer*/
.footer {
    background-color: #e5e7eb;
    margin-top: 10px;
}
.footer p {
    text-align: center;
}